.container {
  box-sizing: border-box;
  height: var(--footer-height);
  width: 100%;
  padding: 0px var(--gap-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-400);
}

@media (max-width: 960px) and (orientation: portrait) {
  .container {
    padding: 0px var(--gap-md);
  }
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: var(--gap-xs);
  font-size: 2.0rem;
}

.mail__label {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
}

@media (max-width: 960px) and (orientation: portrait) {
  .mail__label {
    display: none;
  }
}

.mail a {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: var(--gap-xs);
}

.mail a:hover {
  color: var(--primary);
}

.social-networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 2.0rem;
}

.social-networks a {
  color: var(--gray-300);
}

.social-networks a:hover {
  color: var(--primary);
}
