.container {
  box-sizing: border-box;
  height: var(--footer-height);
  width: 100%;
  padding: 0px var(--gap-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-300);
}

@media (max-width: 960px) and (orientation: portrait) {
  .container {
    padding: 0px var(--gap-md);
  }
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}

@media (max-width: 960px) and (orientation: portrait) {
  .mail {
    gap: var(--gap-xs);
    font-size: 0.75rem;
  }
}

.mail p {
  font-size: 1.0rem;
}

@media (max-width: 960px) and (orientation: portrait) {
  .mail p {
    font-size: 0.75rem;
  }
}

.mail svg {
  height: 24px;
}

@media (max-width: 960px) and (orientation: portrait) {
  .mail svg {
    height: 18px;
  }
}

.social-networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.social-networks a {
  height: 24px;
  color: var(--gray-300);
}

.social-networks a:hover {
  color: #FFD27B;
}

.social-networks svg {
  height: 24px;
}

@media (max-width: 960px) and (orientation: portrait) {
  .social-networks svg {
    height: 18px;
  }
}