
:root {
  --black: #000000;
  --white: #FFFFFF;
  --background: #FFFFFF;

  --gray: #9E9E9E;
  --gray-contrast: var(--white);
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #EEEEEE;
  --gray-300: #E0E0E0;
  --gray-400: #BDBDBD;
  --gray-500: #9E9E9E;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;

  --primary: #ECB03B;
  --primary-contrast: var(--gray-800);

  font-size: 14px;
  --content-xs: 25.0rem;   /* 25.0rem 350px */
  --content-sm: 35.5rem;   /* 35.5rem 568px */
  --content-md: 48.0rem;   /* 48.0rem 768px */
  --content-lg: 64.0rem;   /* 64.0rem 1024px */
  --content-xl: 80.0rem;   /* 80.0rem 1280px */
  --content-xxl: 120.0rem; /* 120.0rem 1920px */
  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
  --gap-xl: 8rem;
  --gap-xxl: 16rem;

  --header-height: 84px;
  --footer-height: 48px;
  --content-container-min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

@media (max-width: 960px) and (orientation: portrait) {
  :root {
    --header-height: 148px;
    --footer-height: 48px;
    --content-container-min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}

body, h1, h2, h3, h4, h5, p, small, ul {
  margin: 0px;
}

body, html {
  min-height: -webkit-fill-available;
}

body {
  background: radial-gradient(75.47% 178.62% at 0% 0%, #121212 0%, #2F2F2F 100%);
}

a {
  color: var(--gray-100);
}

.primary {
  font-family: 'Archivo Black', sans-serif;
}

h1.primary {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

h2.primary {
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

h3.primary {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

h4.primary {
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

h5.primary {
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

p.primary,
ul.primary,
ol.primary {
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

small.primary {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

.secondary {
  font-family: 'Jost', serif;
}

h1.secondary {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

h2.secondary {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

h3.secondary {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

h4.secondary {
  text-transform: uppercase;
  font-style: bold;
  font-weight: 900;
  font-size: 1.0rem;
}

h5.secondary {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

p.secondary, 
ul.secondary, 
ol.secondary {
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 150%;
}

small.secondary {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

.tertiary {
  font-family: 'Courier Prime', serif;
}

h1.tertiary {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

h2.tertiary{
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

h3.tertiary {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

h4.tertiary {
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

h5.tertiary {
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

p.tertiary, 
ul.tertiary, 
ol.tertiary {
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

small.tertiary {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

.justify {
  text-align: justify;
}

/******************************************************************************/

.row {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.column {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.gap--xs {
  gap: var(--gap-xs);
}

.gap--sm {
  gap: var(--gap-sm);
}

.gap--md {
  gap: var(--gap-md);
}

.gap--lg {
  gap: var(--gap-lg);
}

.gap--xl {
  gap: var(--gap-xl);
}

.gap--xxl {
  gap: var(--gap-xxl);
}
