.container {
  width: 100%;
  min-height: var(--content-height);
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
}

.content {
  width: fit-content;
  height: 100%;
  padding: var(--gap-sm);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: var(--gap-md);
  z-index: 9;
}

.info {
  max-width: var(--content-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--gap-sm) var(--gap-md);
  gap: var(--gap-sm);
  user-select: none;
}

.infoTitle {
  color: var(--gray-200);
  text-shadow: 2px 2px var(--primary-1300);
  background-color: #030319AA;
  padding-left: var(--gap-sm);
  padding-right: var(--gap-sm);
}

.infoSubtitle {
  color: var(--gray-400);
  text-shadow: 2px 2px var(--primary-1300);
  background-color: #030319AA;
  padding-left: var(--gap-sm);
  padding-right: var(--gap-sm);
}

.profilePicture {
  border-radius: 12px;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  opacity: 1.0;
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.2);
}