.container {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100vw;
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0px var(--gap-lg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-sm);
  z-index: 12;
}

@media (max-width: 960px) and (orientation: portrait) {
  .header {
    height: var(--header-height);
    padding: var(--gap-md) var(--gap-sm);
    gap: var(--gap-md);
  }
}

.header__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 960px) and (orientation: portrait) {
  .header__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
  }
}

.divider {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-top: 0.1em solid #D7D7D7;
}

.navbar-logo {
  width: fit-content;
  color: var(--gray-300);
  user-select: none;
}

.navbar-items {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  color: var(--gray-300);
  list-style-type: none;
}

@media (max-width: 960px) and (orientation: portrait) {
  .navbar-items {
    gap: var(--gap-md);
  }
}

.navbar-items li a {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: var(--gray-300);
  text-decoration: none;
}

.navbar-items li a:active,
.navbar-items li a:hover {
  text-decoration: underline;
  color: #FFD27B;
}

.footer {
  box-sizing: border-box;
  height: var(--footer-height);
  width: 100%;
  padding: 0px var(--gap-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-300);
}

@media (max-width: 960px) and (orientation: portrait) {
  .footer {
    padding: 0px var(--gap-md);
  }
}

.footer-mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}

@media (max-width: 960px) and (orientation: portrait) {
  .footer-mail {
    gap: var(--gap-xs);
    font-size: 0.75rem;
  }
}

.footer-mail p {
  font-size: 1.0rem;
}

@media (max-width: 960px) and (orientation: portrait) {
  .footer-mail p {
    font-size: 0.75rem;
  }
}

.footer-mail svg {
  height: 24px;
}

@media (max-width: 960px) and (orientation: portrait) {
  .footer-mail svg {
    height: 18px;
  }
}

.footer-social-networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer-social-networks a {
  height: 24px;
  color: var(--gray-300);
}

.footer-social-networks a:hover {
  color: #FFD27B;
}

.footer-social-networks svg {
  height: 24px;
}

@media (max-width: 960px) and (orientation: portrait) {
  .footer-social-networks svg {
    height: 18px;
  }
}

.content {
  box-sizing: border-box;
  min-height: var(--content-container-min-height);
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}