.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--gap-lg) var(--gap-lg);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2, 
.container h3, 
.container h4, 
.container h5, 
.container small {
  color: var(--gray-400);
}

.container p, .container li {
  color: var(--gray-400);
}

@media (max-width: 960px) and (orientation: portrait) {
  .container {
    padding: var(--gap-md);
  }
}

.content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-lg);
}

.about-me {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-lg);
}

@media (max-width: 960px) and (orientation: portrait) {
  .about-me {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-md)
  }
}

.portrait {
  width: max-content;
  filter: brightness(80%);
}

.download-pdf-button {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
  background: var(--primary);
  color: var(--gray-800);
  cursor: pointer;
  text-decoration: none;
}

.download-pdf-button h4 {
  color: var(--gray-800);
}

.download-pdf-button:hover {
  color: var(--gray-900);
  text-decoration: underline;
  box-shadow: 0px 0px 4px 5px rgba(236, 176, 59, 0.25);
}

a.link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
  color: var(--gray-300);
}

.skills {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-md);
}

.skills-row {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-md);
}

.skills-topic {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-sm);
  cursor: pointer;
  user-select: none;
}

.skills-topic:hover {
  text-decoration: underline;
}

.skills-topic__chevron {
  width: var(--gap-sm);
  color: #ECB03B;

}
